

/* fonts
@font-face {
	font-family: NeueHaas;
	src: url(/fonts/NHaasGroteskDSPro-55Rg.ttf);
}

@font-face {
	font-family: NeueHaasMedium;
	src: url(/fonts/NHaasGroteskDSPro-65Md.ttf);
} */


* {
	-webkit-font-smoothing: antialiased;
	margin:0;
    padding: 0;

}


:root {
	--page-color-transition: background .2s ease, color .2s ease;
}

/* theme variables */
:root.day {
    --color-bg: #F6F6F7;
	--color-text:#202020;
	--color-h1: #202020;
    --color-h2: #9F9EA1;
	--color-underline: #d6d6d6;

	--offset-left:0.7rem;
	--offset-bottom: 0.4rem;
	
}

:root.night {
    --color-bg: #0c0c0c;
	--color-text: #C8C8C9;
    --color-h1: #fff;
    --color-h2: #8A898C;
	--color-underline: #383838;

	--offset-left:1.6rem;
	--offset-bottom: 0.8rem;
	
}



html {
	font-size: 62.5%; }







body {	
	background-color:var(--color-bg);
	transition: transform 0.5s ease-in-out, var(--page-color-transition);
	color: var(--color-text);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 1.6rem;
	line-height: 2.6rem;
	display:grid;
	grid-template-columns: repeat(12, minmax(0, 1fr));
	grid-gap: 2.4rem;
	height: 80vh;
	place-items: center;
}



.container{
	grid-column: 2 / 10;
	max-width: 420px;
	user-select: none;
	-webkit-user-select: none; /* For Safari */
	-moz-user-select: none; /* For Firefox */
	-ms-user-select: none; /* For IE/Edge */
}


.toggle{
	display: inline-block;
	padding-top: 2.4rem;
	margin-bottom: 4.8rem;
	color: var(--color-h1);

	user-select: none;
	-webkit-user-select: none; /* For Safari */
	-moz-user-select: none; /* For Firefox */
	-ms-user-select: none; /* For IE/Edge */
	
	overflow: hidden ;
	-webkit-overflow: hidden; /* For Safari */
	-moz-overflow: hidden; /* For Firefox */
	-ms-overflow: hidden; /* For IE/Edge */
	

	
}



.sun-and-moon {
	position: absolute;
	width: 1.6rem;
	height: 1.6rem;
	border-radius: 1rem;
	background: var(--color-h1);
	transform-origin: center center;
	transition: transform 0.3s ease, var(--page-color-transition);
	user-select: none;
	-webkit-user-select: none; /* For Safari */
	-moz-user-select: none; /* For Firefox */
	-ms-user-select: none; /* For IE/Edge */
	
	
	


}

.sun-and-moon::after {
	position: absolute;
	content: '';
	width: 1.3rem;
	height: 1.3rem;
	left: var(--offset-left);
	bottom: var(--offset-bottom);
	border-radius: 1rem;
	background: var(--color-bg);
	transform-origin: center center;
	transition: transform 0.3s ease, left 0.3s ease, bottom 0.1s ease, var(--page-color-transition);
	user-select: none;
	-webkit-user-select: none; /* For Safari */
	-moz-user-select: none; /* For Firefox */
	-ms-user-select: none; /* For IE/Edge */


	
	
}


#greet {
    margin-bottom: 0.8rem;
    font-size: 3.4rem; 

}



h1 {
	color: var(--color-h1);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serifMedium;
	font-size: 3.4rem; line-height: 3.4rem;
	padding-bottom: 1.4rem;
	font-weight: 800;
}


h2 {
	color: var(--color-h2);
	font-size: 1.4rem; line-height: 2rem;
	margin-bottom: 1.4rem; 
	font-weight: 400;
	text-transform: uppercase;

}



p{
	margin-bottom: 2.4rem;
	font-size: 1.8rem;
	font-weight: 400;
}


.p3 {
	padding-top: 4.8rem;
}



body a {
	color: var(--color-h1);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serifMedium;
	font-weight: 600;
	text-decoration: none;
}



.underline {
	display: inline;
	position: relative;
	overflow: hidden;
	width: 4rem;
  }
  
  .underline:after {
	content: "";
	position: absolute;
	z-index: -1;
	left: 0;
	right: 0;
	bottom: -0.3rem;
	background: var(--color-h1);
	opacity: 0.16;
	height: 0.2rem;
	transition-property: left right;
	transition-duration: 0.2s;
	transition-timing-function: ease-out;
  }


  


  .underline:hover:after,
  .underline:focus:after,
  .underline:active:after {
	opacity: 1;
  }
  
  .underline-rdio {
	display: inline;
	position: relative;
	overflow: hidden;
	width: 40px;
  }
  
  .underline-rdio:after {
	content: "";
	position: absolute;
	z-index: 1;
	left: 0;
	right: 100%;
	bottom: 8px;
	background: var(--color-underline); 
	height: 1px;
	transition-property: left right;
	transition-duration: 0.175s;
	transition-timing-function: ease-out;
  }
  
  .underline-rdio:hover:after,
  .underline-rdio:focus:after,
  .underline-rdio:active:after {
	right: 0;
  }
  
  
  #rdio-psa {
	  color: #8A898C;
	  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	  font-size: 12px;
	  letter-spacing: 0.75px;
	  line-height: 20px;
	  margin-top: 4px;
	  opacity: 0;
	  transition-duration: 0.4s;
	  transition-timing-function: ease-in;
  }
  
  .underline-rdio:hover + #rdio-psa {
	  opacity: 1;
  }



/* mobile */
@media (max-width: 550px) {

	/* .underline-rdio:hover + #rdio-psa {
		opacity: 1;
	} */

	.container{
		grid-column: 2/12;
	}


	.underline:after{
		right:0;
	}

	body {
		height: 72vh;
	}

	.toggle {
		padding: 4.8rem;
	}

}
